

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header{
  background-color: #e0e8f2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-1{
  flex: 1;
}
.ms-3{
  margin-left: 1rem;
}

.text-center{
  text-align: center;
}
.cursor-pointer{
  cursor: pointer;
}
.d-block{
  display: block;
}
.mw-500{
  width: 500px;
}
.px-3 {
  padding-left: 12px ;
  padding-right: 12px ;
}

